<div class="max-w-2xl overflow-hidden rounded-lg border border-gray-200 shadow-md m-5">
  <ul class="w-full border-collapse bg-white text-left text-sm text-gray-500">
    <%= render boards %>
  </ul>
</div>
